<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1240015/run_d0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,2},{122,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,218}}</string>
                <key>sourceSize</key>
                <string>{122,218}</string>
            </dict>
            <key>1240015/run_d0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,762},{124,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,222}}</string>
                <key>sourceSize</key>
                <string>{124,222}</string>
            </dict>
            <key>1240015/run_d0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,444},{129,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,216}}</string>
                <key>sourceSize</key>
                <string>{129,216}</string>
            </dict>
            <key>1240015/run_d0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,222},{124,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,215}}</string>
                <key>sourceSize</key>
                <string>{124,215}</string>
            </dict>
            <key>1240015/run_d1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,533},{227,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,185}}</string>
                <key>sourceSize</key>
                <string>{227,185}</string>
            </dict>
            <key>1240015/run_d1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,456},{224,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,186}}</string>
                <key>sourceSize</key>
                <string>{224,186}</string>
            </dict>
            <key>1240015/run_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{291,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,191}}</string>
                <key>sourceSize</key>
                <string>{291,191}</string>
            </dict>
            <key>1240015/run_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{291,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,194}}</string>
                <key>sourceSize</key>
                <string>{291,194}</string>
            </dict>
            <key>1240015/run_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,193}}</string>
                <key>sourceSize</key>
                <string>{300,193}</string>
            </dict>
            <key>1240015/run_d2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{297,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,191}}</string>
                <key>sourceSize</key>
                <string>{297,191}</string>
            </dict>
            <key>1240015/run_d3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,2},{226,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,214}}</string>
                <key>sourceSize</key>
                <string>{226,214}</string>
            </dict>
            <key>1240015/run_d3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,468},{225,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,199}}</string>
                <key>sourceSize</key>
                <string>{225,199}</string>
            </dict>
            <key>1240015/run_d3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,886},{222,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,194}}</string>
                <key>sourceSize</key>
                <string>{222,194}</string>
            </dict>
            <key>1240015/run_d3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,226},{220,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,185}}</string>
                <key>sourceSize</key>
                <string>{220,185}</string>
            </dict>
            <key>1240015/run_d3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{222,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,197}}</string>
                <key>sourceSize</key>
                <string>{222,197}</string>
            </dict>
            <key>1240015/run_d3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,230},{224,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,197}}</string>
                <key>sourceSize</key>
                <string>{224,197}</string>
            </dict>
            <key>1240015/run_d4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1119},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>1240015/run_d4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1113},{133,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,195}}</string>
                <key>sourceSize</key>
                <string>{133,195}</string>
            </dict>
            <key>1240015/run_d4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1107},{132,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,198}}</string>
                <key>sourceSize</key>
                <string>{132,198}</string>
            </dict>
            <key>1240015/run_d4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1117},{134,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,197}}</string>
                <key>sourceSize</key>
                <string>{134,197}</string>
            </dict>
            <key>1240015/run_d4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,679},{129,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,205}}</string>
                <key>sourceSize</key>
                <string>{129,205}</string>
            </dict>
            <key>1240015/stand_d0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,886},{125,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,225}}</string>
                <key>sourceSize</key>
                <string>{125,225}</string>
            </dict>
            <key>1240015/stand_d0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,888},{125,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,229}}</string>
                <key>sourceSize</key>
                <string>{125,229}</string>
            </dict>
            <key>1240015/stand_d0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,291},{128,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,240}}</string>
                <key>sourceSize</key>
                <string>{128,240}</string>
            </dict>
            <key>1240015/stand_d0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{125,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,235}}</string>
                <key>sourceSize</key>
                <string>{125,235}</string>
            </dict>
            <key>1240015/stand_d0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,888},{125,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,229}}</string>
                <key>sourceSize</key>
                <string>{125,229}</string>
            </dict>
            <key>1240015/stand_d1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,2},{223,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,201}}</string>
                <key>sourceSize</key>
                <string>{223,201}</string>
            </dict>
            <key>1240015/stand_d1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,886},{219,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,201}}</string>
                <key>sourceSize</key>
                <string>{219,201}</string>
            </dict>
            <key>1240015/stand_d1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,454},{223,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,201}}</string>
                <key>sourceSize</key>
                <string>{223,201}</string>
            </dict>
            <key>1240015/stand_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,898},{291,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,191}}</string>
                <key>sourceSize</key>
                <string>{291,191}</string>
            </dict>
            <key>1240015/stand_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,304},{292,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,192}}</string>
                <key>sourceSize</key>
                <string>{292,192}</string>
            </dict>
            <key>1240015/stand_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,598},{288,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,193}}</string>
                <key>sourceSize</key>
                <string>{288,193}</string>
            </dict>
            <key>1240015/stand_d3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,766},{215,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,187}}</string>
                <key>sourceSize</key>
                <string>{215,187}</string>
            </dict>
            <key>1240015/stand_d3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,224},{218,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,184}}</string>
                <key>sourceSize</key>
                <string>{218,184}</string>
            </dict>
            <key>1240015/stand_d3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,452},{220,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,186}}</string>
                <key>sourceSize</key>
                <string>{220,186}</string>
            </dict>
            <key>1240015/stand_d3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,448},{218,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,186}}</string>
                <key>sourceSize</key>
                <string>{218,186}</string>
            </dict>
            <key>1240015/stand_d3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,695},{219,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,189}}</string>
                <key>sourceSize</key>
                <string>{219,189}</string>
            </dict>
            <key>1240015/stand_d3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,2},{220,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,184}}</string>
                <key>sourceSize</key>
                <string>{220,184}</string>
            </dict>
            <key>1240015/stand_d4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,2},{132,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,195}}</string>
                <key>sourceSize</key>
                <string>{132,195}</string>
            </dict>
            <key>1240015/stand_d4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1098},{131,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,197}}</string>
                <key>sourceSize</key>
                <string>{131,197}</string>
            </dict>
            <key>1240015/stand_d4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,674},{131,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,200}}</string>
                <key>sourceSize</key>
                <string>{131,200}</string>
            </dict>
            <key>1240015/stand_d4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,1085},{128,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,198}}</string>
                <key>sourceSize</key>
                <string>{128,198}</string>
            </dict>
            <key>1240015/stand_d4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,955},{128,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,199}}</string>
                <key>sourceSize</key>
                <string>{128,199}</string>
            </dict>
            <key>1240015/walk_d0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,227},{125,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,223}}</string>
                <key>sourceSize</key>
                <string>{125,223}</string>
            </dict>
            <key>1240015/walk_d0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,227},{133,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,223}}</string>
                <key>sourceSize</key>
                <string>{133,223}</string>
            </dict>
            <key>1240015/walk_d0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,239},{128,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,227}}</string>
                <key>sourceSize</key>
                <string>{128,227}</string>
            </dict>
            <key>1240015/walk_d0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,886},{126,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,225}}</string>
                <key>sourceSize</key>
                <string>{126,225}</string>
            </dict>
            <key>1240015/walk_d0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,228},{128,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,224}}</string>
                <key>sourceSize</key>
                <string>{128,224}</string>
            </dict>
            <key>1240015/walk_d1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,682},{213,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,202}}</string>
                <key>sourceSize</key>
                <string>{213,202}</string>
            </dict>
            <key>1240015/walk_d1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,878},{218,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,200}}</string>
                <key>sourceSize</key>
                <string>{218,200}</string>
            </dict>
            <key>1240015/walk_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{293,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,192}}</string>
                <key>sourceSize</key>
                <string>{293,192}</string>
            </dict>
            <key>1240015/walk_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{287,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,193}}</string>
                <key>sourceSize</key>
                <string>{287,193}</string>
            </dict>
            <key>1240015/walk_d2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,295},{288,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,189}}</string>
                <key>sourceSize</key>
                <string>{288,189}</string>
            </dict>
            <key>1240015/walk_d2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,598},{291,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,189}}</string>
                <key>sourceSize</key>
                <string>{291,189}</string>
            </dict>
            <key>1240015/walk_d3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,575},{215,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,189}}</string>
                <key>sourceSize</key>
                <string>{215,189}</string>
            </dict>
            <key>1240015/walk_d3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,888},{227,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,183}}</string>
                <key>sourceSize</key>
                <string>{227,183}</string>
            </dict>
            <key>1240015/walk_d3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{224,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,196}}</string>
                <key>sourceSize</key>
                <string>{224,196}</string>
            </dict>
            <key>1240015/walk_d4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1110},{132,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,200}}</string>
                <key>sourceSize</key>
                <string>{132,200}</string>
            </dict>
            <key>1240015/walk_d4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1119},{135,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,200}}</string>
                <key>sourceSize</key>
                <string>{135,200}</string>
            </dict>
            <key>1240015/walk_d4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,674},{128,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,202}}</string>
                <key>sourceSize</key>
                <string>{128,202}</string>
            </dict>
            <key>1240015/walk_d4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,668},{128,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,200}}</string>
                <key>sourceSize</key>
                <string>{128,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>12400150.pvr.ccz</string>
            <key>size</key>
            <string>{1986,1274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:519f72b850f99ea25d1e544dab7235f0:62966b0ee6c0de27756d56acc4c7f4f8:dd8b3bb0843b13eab1aabcddc97aa5c1$</string>
            <key>textureFileName</key>
            <string>12400150.pvr.ccz</string>
        </dict>
    </dict>
</plist>
