<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1240011/run_d4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{139,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,196}}</string>
                <key>sourceSize</key>
                <string>{139,196}</string>
            </dict>
            <key>1240011/run_d4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,2},{134,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,195}}</string>
                <key>sourceSize</key>
                <string>{134,195}</string>
            </dict>
            <key>1240011/run_d4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,2},{135,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,194}}</string>
                <key>sourceSize</key>
                <string>{135,194}</string>
            </dict>
            <key>1240011/run_d4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{138,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,195}}</string>
                <key>sourceSize</key>
                <string>{138,195}</string>
            </dict>
            <key>1240011/stand_d1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,183}}</string>
                <key>sourceSize</key>
                <string>{198,183}</string>
            </dict>
            <key>1240011/stand_d1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{198,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,182}}</string>
                <key>sourceSize</key>
                <string>{198,182}</string>
            </dict>
            <key>1240011/stand_d4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,2},{133,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,197}}</string>
                <key>sourceSize</key>
                <string>{133,197}</string>
            </dict>
            <key>1240011/stand_d4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{136,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,197}}</string>
                <key>sourceSize</key>
                <string>{136,197}</string>
            </dict>
            <key>1240011/walk_d1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{197,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,182}}</string>
                <key>sourceSize</key>
                <string>{197,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>12400111.pvr.ccz</string>
            <key>size</key>
            <string>{1382,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d1c79a81ea50e2235308d57c7e56303:4b79671ccea8295878830caf5f587fc0:59168e482b40282d213132bfe0fd87ee$</string>
            <key>textureFileName</key>
            <string>12400111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
