<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1240013/run_d0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,901},{108,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,305}}</string>
                <key>sourceSize</key>
                <string>{108,305}</string>
            </dict>
            <key>1240013/run_d0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1504},{105,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,296}}</string>
                <key>sourceSize</key>
                <string>{105,296}</string>
            </dict>
            <key>1240013/run_d0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1280},{111,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,303}}</string>
                <key>sourceSize</key>
                <string>{111,303}</string>
            </dict>
            <key>1240013/run_d0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1393},{109,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,299}}</string>
                <key>sourceSize</key>
                <string>{109,299}</string>
            </dict>
            <key>1240013/run_d1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,271}}</string>
                <key>sourceSize</key>
                <string>{259,271}</string>
            </dict>
            <key>1240013/run_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{329,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,184}}</string>
                <key>sourceSize</key>
                <string>{329,184}</string>
            </dict>
            <key>1240013/run_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,933},{317,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,182}}</string>
                <key>sourceSize</key>
                <string>{317,182}</string>
            </dict>
            <key>1240013/run_d2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{317,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,202}}</string>
                <key>sourceSize</key>
                <string>{317,202}</string>
            </dict>
            <key>1240013/run_d2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{318,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,193}}</string>
                <key>sourceSize</key>
                <string>{318,193}</string>
            </dict>
            <key>1240013/run_d2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{325,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,199}}</string>
                <key>sourceSize</key>
                <string>{325,199}</string>
            </dict>
            <key>1240013/run_d3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,471},{253,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,184}}</string>
                <key>sourceSize</key>
                <string>{253,184}</string>
            </dict>
            <key>1240013/run_d3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1850},{251,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,186}}</string>
                <key>sourceSize</key>
                <string>{251,186}</string>
            </dict>
            <key>1240013/run_d3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1417},{243,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,199}}</string>
                <key>sourceSize</key>
                <string>{243,199}</string>
            </dict>
            <key>1240013/run_d3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,891},{241,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,205}}</string>
                <key>sourceSize</key>
                <string>{241,205}</string>
            </dict>
            <key>1240013/run_d3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1417},{260,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,195}}</string>
                <key>sourceSize</key>
                <string>{260,195}</string>
            </dict>
            <key>1240013/run_d4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1864},{107,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,201}}</string>
                <key>sourceSize</key>
                <string>{107,201}</string>
            </dict>
            <key>1240013/run_d4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,789},{100,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,203}}</string>
                <key>sourceSize</key>
                <string>{100,203}</string>
            </dict>
            <key>1240013/run_d4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1134},{107,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,207}}</string>
                <key>sourceSize</key>
                <string>{107,207}</string>
            </dict>
            <key>1240013/run_d4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,682},{105,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,203}}</string>
                <key>sourceSize</key>
                <string>{105,203}</string>
            </dict>
            <key>1240013/run_d4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,1243},{105,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,197}}</string>
                <key>sourceSize</key>
                <string>{105,197}</string>
            </dict>
            <key>1240013/run_d4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,2},{104,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,188}}</string>
                <key>sourceSize</key>
                <string>{104,188}</string>
            </dict>
            <key>1240013/stand_d0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1224},{101,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,307}}</string>
                <key>sourceSize</key>
                <string>{101,307}</string>
            </dict>
            <key>1240013/stand_d0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,914},{104,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,308}}</string>
                <key>sourceSize</key>
                <string>{104,308}</string>
            </dict>
            <key>1240013/stand_d0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,602},{104,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,310}}</string>
                <key>sourceSize</key>
                <string>{104,310}</string>
            </dict>
            <key>1240013/stand_d0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,206},{104,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,311}}</string>
                <key>sourceSize</key>
                <string>{104,311}</string>
            </dict>
            <key>1240013/stand_d1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,867},{237,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,270}}</string>
                <key>sourceSize</key>
                <string>{237,270}</string>
            </dict>
            <key>1240013/stand_d1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,594},{237,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,271}}</string>
                <key>sourceSize</key>
                <string>{237,271}</string>
            </dict>
            <key>1240013/stand_d1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,926},{233,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,273}}</string>
                <key>sourceSize</key>
                <string>{233,273}</string>
            </dict>
            <key>1240013/stand_d1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,312},{235,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,275}}</string>
                <key>sourceSize</key>
                <string>{235,275}</string>
            </dict>
            <key>1240013/stand_d1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,200},{235,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,273}}</string>
                <key>sourceSize</key>
                <string>{235,273}</string>
            </dict>
            <key>1240013/stand_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,312},{280,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,201}}</string>
                <key>sourceSize</key>
                <string>{280,201}</string>
            </dict>
            <key>1240013/stand_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,398},{282,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,202}}</string>
                <key>sourceSize</key>
                <string>{282,202}</string>
            </dict>
            <key>1240013/stand_d2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,867},{289,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,201}}</string>
                <key>sourceSize</key>
                <string>{289,201}</string>
            </dict>
            <key>1240013/stand_d3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1393},{224,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,201}}</string>
                <key>sourceSize</key>
                <string>{224,201}</string>
            </dict>
            <key>1240013/stand_d3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1662},{224,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,201}}</string>
                <key>sourceSize</key>
                <string>{224,201}</string>
            </dict>
            <key>1240013/stand_d3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1611},{222,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,201}}</string>
                <key>sourceSize</key>
                <string>{222,201}</string>
            </dict>
            <key>1240013/stand_d4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1912},{93,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,207}}</string>
                <key>sourceSize</key>
                <string>{93,207}</string>
            </dict>
            <key>1240013/stand_d4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,1815},{95,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,209}}</string>
                <key>sourceSize</key>
                <string>{95,209}</string>
            </dict>
            <key>1240013/stand_d4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1814},{96,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,210}}</string>
                <key>sourceSize</key>
                <string>{96,210}</string>
            </dict>
            <key>1240013/stand_d4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1865},{96,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,209}}</string>
                <key>sourceSize</key>
                <string>{96,209}</string>
            </dict>
            <key>1240013/stand_d4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1619},{98,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,208}}</string>
                <key>sourceSize</key>
                <string>{98,208}</string>
            </dict>
            <key>1240013/stand_d4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1719},{94,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,208}}</string>
                <key>sourceSize</key>
                <string>{94,208}</string>
            </dict>
            <key>1240013/stand_d4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1912},{94,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,209}}</string>
                <key>sourceSize</key>
                <string>{94,209}</string>
            </dict>
            <key>1240013/walk_d0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1516},{111,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,306}}</string>
                <key>sourceSize</key>
                <string>{111,306}</string>
            </dict>
            <key>1240013/walk_d0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1208},{108,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,306}}</string>
                <key>sourceSize</key>
                <string>{108,306}</string>
            </dict>
            <key>1240013/walk_d0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,589},{108,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,310}}</string>
                <key>sourceSize</key>
                <string>{108,310}</string>
            </dict>
            <key>1240013/walk_d0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1533},{107,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,307}}</string>
                <key>sourceSize</key>
                <string>{107,307}</string>
            </dict>
            <key>1240013/walk_d1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,657},{239,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,267}}</string>
                <key>sourceSize</key>
                <string>{239,267}</string>
            </dict>
            <key>1240013/walk_d1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,197},{237,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,272}}</string>
                <key>sourceSize</key>
                <string>{237,272}</string>
            </dict>
            <key>1240013/walk_d1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1139},{221,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,276}}</string>
                <key>sourceSize</key>
                <string>{221,276}</string>
            </dict>
            <key>1240013/walk_d1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,437},{220,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,277}}</string>
                <key>sourceSize</key>
                <string>{220,277}</string>
            </dict>
            <key>1240013/walk_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{306,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,196}}</string>
                <key>sourceSize</key>
                <string>{306,196}</string>
            </dict>
            <key>1240013/walk_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1070},{293,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,208}}</string>
                <key>sourceSize</key>
                <string>{293,208}</string>
            </dict>
            <key>1240013/walk_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,659},{291,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,206}}</string>
                <key>sourceSize</key>
                <string>{291,206}</string>
            </dict>
            <key>1240013/walk_d2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1554},{294,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,206}}</string>
                <key>sourceSize</key>
                <string>{294,206}</string>
            </dict>
            <key>1240013/walk_d2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1252},{300,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,203}}</string>
                <key>sourceSize</key>
                <string>{300,203}</string>
            </dict>
            <key>1240013/walk_d3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,200},{223,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,196}}</string>
                <key>sourceSize</key>
                <string>{223,196}</string>
            </dict>
            <key>1240013/walk_d3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1201},{233,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,197}}</string>
                <key>sourceSize</key>
                <string>{233,197}</string>
            </dict>
            <key>1240013/walk_d3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1679},{221,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,183}}</string>
                <key>sourceSize</key>
                <string>{221,183}</string>
            </dict>
            <key>1240013/walk_d4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1842},{103,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,185}}</string>
                <key>sourceSize</key>
                <string>{103,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>12400130.pvr.ccz</string>
            <key>size</key>
            <string>{1382,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b63e5e397cdac003414d16fcc09b2e2:7dafacacc127959eef065fb26e6452c3:9aa1b236595b73b72263a2998749e39f$</string>
            <key>textureFileName</key>
            <string>12400130.pvr.ccz</string>
        </dict>
    </dict>
</plist>
