<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1240016/run_d1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,319},{311,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,310}}</string>
                <key>sourceSize</key>
                <string>{311,310}</string>
            </dict>
            <key>1240016/run_d3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,636},{321,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,281}}</string>
                <key>sourceSize</key>
                <string>{321,281}</string>
            </dict>
            <key>1240016/run_d3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1477},{310,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,242}}</string>
                <key>sourceSize</key>
                <string>{310,242}</string>
            </dict>
            <key>1240016/run_d3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{322,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,268}}</string>
                <key>sourceSize</key>
                <string>{322,268}</string>
            </dict>
            <key>1240016/run_d3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,931},{312,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,288}}</string>
                <key>sourceSize</key>
                <string>{312,288}</string>
            </dict>
            <key>1240016/run_d3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1219},{317,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,256}}</string>
                <key>sourceSize</key>
                <string>{317,256}</string>
            </dict>
            <key>1240016/run_d3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,911},{329,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,241}}</string>
                <key>sourceSize</key>
                <string>{329,241}</string>
            </dict>
            <key>1240016/run_d3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{308,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,217}}</string>
                <key>sourceSize</key>
                <string>{308,217}</string>
            </dict>
            <key>1240016/run_d4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{182,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,234}}</string>
                <key>sourceSize</key>
                <string>{182,234}</string>
            </dict>
            <key>1240016/run_d4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1729},{201,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,274}}</string>
                <key>sourceSize</key>
                <string>{201,274}</string>
            </dict>
            <key>1240016/run_d4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1797},{188,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,268}}</string>
                <key>sourceSize</key>
                <string>{188,268}</string>
            </dict>
            <key>1240016/stand_d1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,337},{315,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,297}}</string>
                <key>sourceSize</key>
                <string>{315,297}</string>
            </dict>
            <key>1240016/stand_d1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,298},{319,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,303}}</string>
                <key>sourceSize</key>
                <string>{319,303}</string>
            </dict>
            <key>1240016/stand_d1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,603},{321,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,296}}</string>
                <key>sourceSize</key>
                <string>{321,296}</string>
            </dict>
            <key>1240016/stand_d3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{309,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,304}}</string>
                <key>sourceSize</key>
                <string>{309,304}</string>
            </dict>
            <key>1240016/stand_d3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,631},{309,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,298}}</string>
                <key>sourceSize</key>
                <string>{309,298}</string>
            </dict>
            <key>1240016/stand_d3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1175},{310,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,285}}</string>
                <key>sourceSize</key>
                <string>{310,285}</string>
            </dict>
            <key>1240016/stand_d3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1242},{329,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,266}}</string>
                <key>sourceSize</key>
                <string>{329,266}</string>
            </dict>
            <key>1240016/stand_d3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1475},{308,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,252}}</string>
                <key>sourceSize</key>
                <string>{308,252}</string>
            </dict>
            <key>1240016/stand_d3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1221},{317,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,252}}</string>
                <key>sourceSize</key>
                <string>{317,252}</string>
            </dict>
            <key>1240016/stand_d3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,959},{319,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,258}}</string>
                <key>sourceSize</key>
                <string>{319,258}</string>
            </dict>
            <key>1240016/stand_d3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{311,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,264}}</string>
                <key>sourceSize</key>
                <string>{311,264}</string>
            </dict>
            <key>1240016/stand_d4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,1814},{188,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,298}}</string>
                <key>sourceSize</key>
                <string>{188,298}</string>
            </dict>
            <key>1240016/stand_d4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,298},{185,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,304}}</string>
                <key>sourceSize</key>
                <string>{185,304}</string>
            </dict>
            <key>1240016/stand_d4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1721},{216,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,304}}</string>
                <key>sourceSize</key>
                <string>{216,304}</string>
            </dict>
            <key>1240016/stand_d4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1729},{215,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,275}}</string>
                <key>sourceSize</key>
                <string>{215,275}</string>
            </dict>
            <key>1240016/walk_d1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{315,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,327}}</string>
                <key>sourceSize</key>
                <string>{315,327}</string>
            </dict>
            <key>1240016/walk_d1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{333,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,334}}</string>
                <key>sourceSize</key>
                <string>{333,334}</string>
            </dict>
            <key>1240016/walk_d1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,901},{334,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,272}}</string>
                <key>sourceSize</key>
                <string>{334,272}</string>
            </dict>
            <key>1240016/walk_d1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{333,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,294}}</string>
                <key>sourceSize</key>
                <string>{333,294}</string>
            </dict>
            <key>1240016/walk_d1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,333}}</string>
                <key>sourceSize</key>
                <string>{334,333}</string>
            </dict>
            <key>1240016/walk_d3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1462},{333,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,237}}</string>
                <key>sourceSize</key>
                <string>{333,237}</string>
            </dict>
            <key>1240016/walk_d3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1280},{322,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,252}}</string>
                <key>sourceSize</key>
                <string>{322,252}</string>
            </dict>
            <key>1240016/walk_d3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1573},{327,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,239}}</string>
                <key>sourceSize</key>
                <string>{327,239}</string>
            </dict>
            <key>1240016/walk_d4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,604},{204,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,305}}</string>
                <key>sourceSize</key>
                <string>{204,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>12400162.pvr.ccz</string>
            <key>size</key>
            <string>{1522,2027}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:072e67ee2fc96a1ca81aa414b245f05d:3/3$</string>
            <key>textureFileName</key>
            <string>12400162.pvr.ccz</string>
        </dict>
    </dict>
</plist>
