<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1240014/run_d0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,637},{161,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,219}}</string>
                <key>sourceSize</key>
                <string>{161,219}</string>
            </dict>
            <key>1240014/run_d0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,2},{163,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,223}}</string>
                <key>sourceSize</key>
                <string>{163,223}</string>
            </dict>
            <key>1240014/run_d0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,216},{162,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,225}}</string>
                <key>sourceSize</key>
                <string>{162,225}</string>
            </dict>
            <key>1240014/run_d0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1517},{153,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,232}}</string>
                <key>sourceSize</key>
                <string>{153,232}</string>
            </dict>
            <key>1240014/run_d0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,1541},{156,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,232}}</string>
                <key>sourceSize</key>
                <string>{156,232}</string>
            </dict>
            <key>1240014/run_d0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,978},{162,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,233}}</string>
                <key>sourceSize</key>
                <string>{162,233}</string>
            </dict>
            <key>1240014/run_d0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1323},{166,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,224}}</string>
                <key>sourceSize</key>
                <string>{166,224}</string>
            </dict>
            <key>1240014/run_d0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1483},{159,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,214}}</string>
                <key>sourceSize</key>
                <string>{159,214}</string>
            </dict>
            <key>1240014/run_d1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,738},{195,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,203}}</string>
                <key>sourceSize</key>
                <string>{195,203}</string>
            </dict>
            <key>1240014/run_d1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,1615},{196,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,212}}</string>
                <key>sourceSize</key>
                <string>{196,212}</string>
            </dict>
            <key>1240014/run_d1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,778},{198,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,216}}</string>
                <key>sourceSize</key>
                <string>{198,216}</string>
            </dict>
            <key>1240014/run_d1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1102},{202,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,219}}</string>
                <key>sourceSize</key>
                <string>{202,219}</string>
            </dict>
            <key>1240014/run_d1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,886},{218,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,214}}</string>
                <key>sourceSize</key>
                <string>{218,214}</string>
            </dict>
            <key>1240014/run_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,194},{244,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,178}}</string>
                <key>sourceSize</key>
                <string>{244,178}</string>
            </dict>
            <key>1240014/run_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,2},{245,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,181}}</string>
                <key>sourceSize</key>
                <string>{245,181}</string>
            </dict>
            <key>1240014/run_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,374},{242,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,179}}</string>
                <key>sourceSize</key>
                <string>{242,179}</string>
            </dict>
            <key>1240014/run_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{245,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,184}}</string>
                <key>sourceSize</key>
                <string>{245,184}</string>
            </dict>
            <key>1240014/run_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,910},{237,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,176}}</string>
                <key>sourceSize</key>
                <string>{237,176}</string>
            </dict>
            <key>1240014/run_d2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,544},{247,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,172}}</string>
                <key>sourceSize</key>
                <string>{247,172}</string>
            </dict>
            <key>1240014/run_d2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,563},{239,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,169}}</string>
                <key>sourceSize</key>
                <string>{239,169}</string>
            </dict>
            <key>1240014/run_d2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,185},{245,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,172}}</string>
                <key>sourceSize</key>
                <string>{245,172}</string>
            </dict>
            <key>1240014/run_d3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1246},{219,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,211}}</string>
                <key>sourceSize</key>
                <string>{219,211}</string>
            </dict>
            <key>1240014/run_d3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1672},{218,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,209}}</string>
                <key>sourceSize</key>
                <string>{218,209}</string>
            </dict>
            <key>1240014/run_d3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1458},{216,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,212}}</string>
                <key>sourceSize</key>
                <string>{216,212}</string>
            </dict>
            <key>1240014/run_d3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,559},{216,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,217}}</string>
                <key>sourceSize</key>
                <string>{216,217}</string>
            </dict>
            <key>1240014/run_d3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{221,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,215}}</string>
                <key>sourceSize</key>
                <string>{221,215}</string>
            </dict>
            <key>1240014/run_d4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,227},{163,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,228}}</string>
                <key>sourceSize</key>
                <string>{163,228}</string>
            </dict>
            <key>1240014/run_d4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,398},{159,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,229}}</string>
                <key>sourceSize</key>
                <string>{159,229}</string>
            </dict>
            <key>1240014/run_d4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1883},{163,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,231}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>1240014/run_d4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1880},{166,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,227}}</string>
                <key>sourceSize</key>
                <string>{166,227}</string>
            </dict>
            <key>1240014/run_d4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,457},{171,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,231}}</string>
                <key>sourceSize</key>
                <string>{171,231}</string>
            </dict>
            <key>1240014/run_d4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1098},{160,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,234}}</string>
                <key>sourceSize</key>
                <string>{160,234}</string>
            </dict>
            <key>1240014/stand_d0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1883},{163,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,231}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>1240014/stand_d0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1107},{156,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,234}}</string>
                <key>sourceSize</key>
                <string>{156,234}</string>
            </dict>
            <key>1240014/stand_d0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,965},{162,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,235}}</string>
                <key>sourceSize</key>
                <string>{162,235}</string>
            </dict>
            <key>1240014/stand_d0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,718},{166,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,237}}</string>
                <key>sourceSize</key>
                <string>{166,237}</string>
            </dict>
            <key>1240014/stand_d1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,1164},{206,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,220}}</string>
                <key>sourceSize</key>
                <string>{206,220}</string>
            </dict>
            <key>1240014/stand_d1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,676},{208,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,222}}</string>
                <key>sourceSize</key>
                <string>{208,222}</string>
            </dict>
            <key>1240014/stand_d1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{210,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,224}}</string>
                <key>sourceSize</key>
                <string>{210,224}</string>
            </dict>
            <key>1240014/stand_d1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{212,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,225}}</string>
                <key>sourceSize</key>
                <string>{212,225}</string>
            </dict>
            <key>1240014/stand_d1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{217,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,227}}</string>
                <key>sourceSize</key>
                <string>{217,227}</string>
            </dict>
            <key>1240014/stand_d1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{216,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,229}}</string>
                <key>sourceSize</key>
                <string>{216,229}</string>
            </dict>
            <key>1240014/stand_d1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1264},{214,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,217}}</string>
                <key>sourceSize</key>
                <string>{214,217}</string>
            </dict>
            <key>1240014/stand_d1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,418},{218,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,217}}</string>
                <key>sourceSize</key>
                <string>{218,217}</string>
            </dict>
            <key>1240014/stand_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1142},{232,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,186}}</string>
                <key>sourceSize</key>
                <string>{232,186}</string>
            </dict>
            <key>1240014/stand_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1129},{232,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,188}}</string>
                <key>sourceSize</key>
                <string>{232,188}</string>
            </dict>
            <key>1240014/stand_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,359},{236,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,189}}</string>
                <key>sourceSize</key>
                <string>{236,189}</string>
            </dict>
            <key>1240014/stand_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{240,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,190}}</string>
                <key>sourceSize</key>
                <string>{240,190}</string>
            </dict>
            <key>1240014/stand_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,376},{242,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,185}}</string>
                <key>sourceSize</key>
                <string>{242,185}</string>
            </dict>
            <key>1240014/stand_d2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,723},{238,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,185}}</string>
                <key>sourceSize</key>
                <string>{238,185}</string>
            </dict>
            <key>1240014/stand_d2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1265},{230,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,187}}</string>
                <key>sourceSize</key>
                <string>{230,187}</string>
            </dict>
            <key>1240014/stand_d2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,206},{229,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,190}}</string>
                <key>sourceSize</key>
                <string>{229,190}</string>
            </dict>
            <key>1240014/stand_d3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1664},{219,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,209}}</string>
                <key>sourceSize</key>
                <string>{219,209}</string>
            </dict>
            <key>1240014/stand_d3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1644},{218,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,211}}</string>
                <key>sourceSize</key>
                <string>{218,211}</string>
            </dict>
            <key>1240014/stand_d3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,886},{218,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,214}}</string>
                <key>sourceSize</key>
                <string>{218,214}</string>
            </dict>
            <key>1240014/stand_d3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1123},{222,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,213}}</string>
                <key>sourceSize</key>
                <string>{222,213}</string>
            </dict>
            <key>1240014/stand_d3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,217}}</string>
                <key>sourceSize</key>
                <string>{229,217}</string>
            </dict>
            <key>1240014/stand_d3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{222,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,216}}</string>
                <key>sourceSize</key>
                <string>{222,216}</string>
            </dict>
            <key>1240014/stand_d3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1347},{220,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,213}}</string>
                <key>sourceSize</key>
                <string>{220,213}</string>
            </dict>
            <key>1240014/stand_d3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1569},{221,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,211}}</string>
                <key>sourceSize</key>
                <string>{221,211}</string>
            </dict>
            <key>1240014/stand_d4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1454},{159,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,229}}</string>
                <key>sourceSize</key>
                <string>{159,229}</string>
            </dict>
            <key>1240014/stand_d4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,1883},{163,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,231}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>1240014/stand_d4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1693},{171,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,231}}</string>
                <key>sourceSize</key>
                <string>{171,231}</string>
            </dict>
            <key>1240014/stand_d4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1102},{160,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,234}}</string>
                <key>sourceSize</key>
                <string>{160,234}</string>
            </dict>
            <key>1240014/walk_d0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,800},{163,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,229}}</string>
                <key>sourceSize</key>
                <string>{163,229}</string>
            </dict>
            <key>1240014/walk_d0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1386},{153,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,234}}</string>
                <key>sourceSize</key>
                <string>{153,234}</string>
            </dict>
            <key>1240014/walk_d0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,1088},{156,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,235}}</string>
                <key>sourceSize</key>
                <string>{156,235}</string>
            </dict>
            <key>1240014/walk_d0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,380},{162,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,240}}</string>
                <key>sourceSize</key>
                <string>{162,240}</string>
            </dict>
            <key>1240014/walk_d0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,555},{166,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,242}}</string>
                <key>sourceSize</key>
                <string>{166,242}</string>
            </dict>
            <key>1240014/walk_d1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,1829},{193,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,217}}</string>
                <key>sourceSize</key>
                <string>{193,217}</string>
            </dict>
            <key>1240014/walk_d1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1260},{196,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,226}}</string>
                <key>sourceSize</key>
                <string>{196,226}</string>
            </dict>
            <key>1240014/walk_d1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{202,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,229}}</string>
                <key>sourceSize</key>
                <string>{202,229}</string>
            </dict>
            <key>1240014/walk_d1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,214},{202,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,224}}</string>
                <key>sourceSize</key>
                <string>{202,224}</string>
            </dict>
            <key>1240014/walk_d1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,943},{204,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,219}}</string>
                <key>sourceSize</key>
                <string>{204,219}</string>
            </dict>
            <key>1240014/walk_d1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1491},{200,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,222}}</string>
                <key>sourceSize</key>
                <string>{200,222}</string>
            </dict>
            <key>1240014/walk_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1319},{232,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,181}}</string>
                <key>sourceSize</key>
                <string>{232,181}</string>
            </dict>
            <key>1240014/walk_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1330},{232,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,185}}</string>
                <key>sourceSize</key>
                <string>{232,185}</string>
            </dict>
            <key>1240014/walk_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,550},{236,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,186}}</string>
                <key>sourceSize</key>
                <string>{236,186}</string>
            </dict>
            <key>1240014/walk_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,188},{240,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,186}}</string>
                <key>sourceSize</key>
                <string>{240,186}</string>
            </dict>
            <key>1240014/walk_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,734},{238,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,181}}</string>
                <key>sourceSize</key>
                <string>{238,181}</string>
            </dict>
            <key>1240014/walk_d2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,738},{238,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,179}}</string>
                <key>sourceSize</key>
                <string>{238,179}</string>
            </dict>
            <key>1240014/walk_d2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,917},{235,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,179}}</string>
                <key>sourceSize</key>
                <string>{235,179}</string>
            </dict>
            <key>1240014/walk_d2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,919},{233,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,186}}</string>
                <key>sourceSize</key>
                <string>{233,186}</string>
            </dict>
            <key>1240014/walk_d3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1672},{219,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,206}}</string>
                <key>sourceSize</key>
                <string>{219,206}</string>
            </dict>
            <key>1240014/walk_d3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,1672},{218,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,209}}</string>
                <key>sourceSize</key>
                <string>{218,209}</string>
            </dict>
            <key>1240014/walk_d3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1459},{218,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,211}}</string>
                <key>sourceSize</key>
                <string>{218,211}</string>
            </dict>
            <key>1240014/walk_d3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,221},{224,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,217}}</string>
                <key>sourceSize</key>
                <string>{224,217}</string>
            </dict>
            <key>1240014/walk_d3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,440},{221,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,218}}</string>
                <key>sourceSize</key>
                <string>{221,218}</string>
            </dict>
            <key>1240014/walk_d3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{222,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,215}}</string>
                <key>sourceSize</key>
                <string>{222,215}</string>
            </dict>
            <key>1240014/walk_d3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1792},{221,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,211}}</string>
                <key>sourceSize</key>
                <string>{221,211}</string>
            </dict>
            <key>1240014/walk_d4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1860},{167,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,227}}</string>
                <key>sourceSize</key>
                <string>{167,227}</string>
            </dict>
            <key>1240014/walk_d4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,1699},{159,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,229}}</string>
                <key>sourceSize</key>
                <string>{159,229}</string>
            </dict>
            <key>1240014/walk_d4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1883},{163,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,231}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>1240014/walk_d4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1875},{171,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,231}}</string>
                <key>sourceSize</key>
                <string>{171,231}</string>
            </dict>
            <key>1240014/walk_d4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1502},{160,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,234}}</string>
                <key>sourceSize</key>
                <string>{160,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>12400140.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7a1047caa786d3c4cf7199987048c2e:00ab7965175e4b8344206362d7ede36a:9559d4b6831577407737d905033912ff$</string>
            <key>textureFileName</key>
            <string>12400140.pvr.ccz</string>
        </dict>
    </dict>
</plist>
