<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1240016/run_d0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,331},{202,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,393}}</string>
                <key>sourceSize</key>
                <string>{202,393}</string>
            </dict>
            <key>1240016/run_d0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,478},{188,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,372}}</string>
                <key>sourceSize</key>
                <string>{188,372}</string>
            </dict>
            <key>1240016/run_d1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{305,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,393}}</string>
                <key>sourceSize</key>
                <string>{305,393}</string>
            </dict>
            <key>1240016/run_d1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{301,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,374}}</string>
                <key>sourceSize</key>
                <string>{301,374}</string>
            </dict>
            <key>1240016/run_d1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,512},{312,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,344}}</string>
                <key>sourceSize</key>
                <string>{312,344}</string>
            </dict>
            <key>1240016/run_d1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1073},{294,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,376}}</string>
                <key>sourceSize</key>
                <string>{294,376}</string>
            </dict>
            <key>1240016/run_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{382,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,336}}</string>
                <key>sourceSize</key>
                <string>{382,336}</string>
            </dict>
            <key>1240016/run_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{395,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,336}}</string>
                <key>sourceSize</key>
                <string>{395,336}</string>
            </dict>
            <key>1240016/run_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{397,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,309}}</string>
                <key>sourceSize</key>
                <string>{397,309}</string>
            </dict>
            <key>1240016/run_d3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1801},{342,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,226}}</string>
                <key>sourceSize</key>
                <string>{342,226}</string>
            </dict>
            <key>1240016/run_d4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1838},{202,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,240}}</string>
                <key>sourceSize</key>
                <string>{202,240}</string>
            </dict>
            <key>1240016/run_d4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,1831},{203,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,260}}</string>
                <key>sourceSize</key>
                <string>{203,260}</string>
            </dict>
            <key>1240016/run_d4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1176},{196,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,256}}</string>
                <key>sourceSize</key>
                <string>{196,256}</string>
            </dict>
            <key>1240016/run_d4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1787},{174,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,258}}</string>
                <key>sourceSize</key>
                <string>{174,258}</string>
            </dict>
            <key>1240016/run_d4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1771},{173,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,274}}</string>
                <key>sourceSize</key>
                <string>{173,274}</string>
            </dict>
            <key>1240016/stand_d0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,922},{197,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,384}}</string>
                <key>sourceSize</key>
                <string>{197,384}</string>
            </dict>
            <key>1240016/stand_d0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,535},{199,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,389}}</string>
                <key>sourceSize</key>
                <string>{199,389}</string>
            </dict>
            <key>1240016/stand_d0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,653},{172,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,380}}</string>
                <key>sourceSize</key>
                <string>{172,380}</string>
            </dict>
            <key>1240016/stand_d0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,678},{167,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,399}}</string>
                <key>sourceSize</key>
                <string>{167,399}</string>
            </dict>
            <key>1240016/stand_d0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,668},{187,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,380}}</string>
                <key>sourceSize</key>
                <string>{187,380}</string>
            </dict>
            <key>1240016/stand_d0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,313},{197,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,395}}</string>
                <key>sourceSize</key>
                <string>{197,395}</string>
            </dict>
            <key>1240016/stand_d0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,736},{184,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,388}}</string>
                <key>sourceSize</key>
                <string>{184,388}</string>
            </dict>
            <key>1240016/stand_d1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1148},{302,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,295}}</string>
                <key>sourceSize</key>
                <string>{302,295}</string>
            </dict>
            <key>1240016/stand_d1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1445},{324,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,297}}</string>
                <key>sourceSize</key>
                <string>{324,297}</string>
            </dict>
            <key>1240016/stand_d1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1451},{324,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,351}}</string>
                <key>sourceSize</key>
                <string>{324,351}</string>
            </dict>
            <key>1240016/stand_d1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{327,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,361}}</string>
                <key>sourceSize</key>
                <string>{327,361}</string>
            </dict>
            <key>1240016/stand_d1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,2},{320,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,358}}</string>
                <key>sourceSize</key>
                <string>{320,358}</string>
            </dict>
            <key>1240016/stand_d4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1577},{223,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,259}}</string>
                <key>sourceSize</key>
                <string>{223,259}</string>
            </dict>
            <key>1240016/stand_d4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,1745},{191,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,283}}</string>
                <key>sourceSize</key>
                <string>{191,283}</string>
            </dict>
            <key>1240016/stand_d4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1148},{183,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,295}}</string>
                <key>sourceSize</key>
                <string>{183,295}</string>
            </dict>
            <key>1240016/stand_d4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1577},{166,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,288}}</string>
                <key>sourceSize</key>
                <string>{166,288}</string>
            </dict>
            <key>1240016/walk_d0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,305},{171,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,373}}</string>
                <key>sourceSize</key>
                <string>{171,373}</string>
            </dict>
            <key>1240016/walk_d0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,827},{175,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,379}}</string>
                <key>sourceSize</key>
                <string>{175,379}</string>
            </dict>
            <key>1240016/walk_d0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1004},{170,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,379}}</string>
                <key>sourceSize</key>
                <string>{170,379}</string>
            </dict>
            <key>1240016/walk_d0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1079},{166,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,367}}</string>
                <key>sourceSize</key>
                <string>{166,367}</string>
            </dict>
            <key>1240016/walk_d1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1105},{337,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,339}}</string>
                <key>sourceSize</key>
                <string>{337,339}</string>
            </dict>
            <key>1240016/walk_d1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,324},{337,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,327}}</string>
                <key>sourceSize</key>
                <string>{337,327}</string>
            </dict>
            <key>1240016/walk_d3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,858},{344,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,245}}</string>
                <key>sourceSize</key>
                <string>{344,245}</string>
            </dict>
            <key>1240016/walk_d3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1804},{338,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,241}}</string>
                <key>sourceSize</key>
                <string>{338,241}</string>
            </dict>
            <key>1240016/walk_d3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,857},{335,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,289}}</string>
                <key>sourceSize</key>
                <string>{335,289}</string>
            </dict>
            <key>1240016/walk_d3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1446},{339,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,265}}</string>
                <key>sourceSize</key>
                <string>{339,265}</string>
            </dict>
            <key>1240016/walk_d3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1448},{351,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,243}}</string>
                <key>sourceSize</key>
                <string>{351,243}</string>
            </dict>
            <key>1240016/walk_d4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1456},{182,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,337}}</string>
                <key>sourceSize</key>
                <string>{182,337}</string>
            </dict>
            <key>1240016/walk_d4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1640},{189,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,320}}</string>
                <key>sourceSize</key>
                <string>{189,320}</string>
            </dict>
            <key>1240016/walk_d4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1176},{200,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,327}}</string>
                <key>sourceSize</key>
                <string>{200,327}</string>
            </dict>
            <key>1240016/walk_d4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1121},{207,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,333}}</string>
                <key>sourceSize</key>
                <string>{207,333}</string>
            </dict>
            <key>1240016/walk_d4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1831},{208,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,288}}</string>
                <key>sourceSize</key>
                <string>{208,288}</string>
            </dict>
            <key>1240016/walk_d4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1378},{197,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,328}}</string>
                <key>sourceSize</key>
                <string>{197,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>12400161.pvr.ccz</string>
            <key>size</key>
            <string>{2032,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:072e67ee2fc96a1ca81aa414b245f05d:2/3$</string>
            <key>textureFileName</key>
            <string>12400161.pvr.ccz</string>
        </dict>
    </dict>
</plist>
