<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1240015/run_d0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{128,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,221}}</string>
                <key>sourceSize</key>
                <string>{128,221}</string>
            </dict>
            <key>1240015/run_d0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{127,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,229}}</string>
                <key>sourceSize</key>
                <string>{127,229}</string>
            </dict>
            <key>1240015/run_d0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,2},{128,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,216}}</string>
                <key>sourceSize</key>
                <string>{128,216}</string>
            </dict>
            <key>1240015/run_d0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,2},{128,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,215}}</string>
                <key>sourceSize</key>
                <string>{128,215}</string>
            </dict>
            <key>1240015/run_d1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,633},{221,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,194}}</string>
                <key>sourceSize</key>
                <string>{221,194}</string>
            </dict>
            <key>1240015/run_d1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{218,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,195}}</string>
                <key>sourceSize</key>
                <string>{218,195}</string>
            </dict>
            <key>1240015/run_d1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,643},{218,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,197}}</string>
                <key>sourceSize</key>
                <string>{218,197}</string>
            </dict>
            <key>1240015/run_d1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,262},{231,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,179}}</string>
                <key>sourceSize</key>
                <string>{231,179}</string>
            </dict>
            <key>1240015/run_d1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,262},{226,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,174}}</string>
                <key>sourceSize</key>
                <string>{226,174}</string>
            </dict>
            <key>1240015/run_d1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,264},{223,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,181}}</string>
                <key>sourceSize</key>
                <string>{223,181}</string>
            </dict>
            <key>1240015/run_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,639},{291,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,192}}</string>
                <key>sourceSize</key>
                <string>{291,192}</string>
            </dict>
            <key>1240015/run_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,831},{298,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,195}}</string>
                <key>sourceSize</key>
                <string>{298,195}</string>
            </dict>
            <key>1240015/run_d2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,447},{294,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,189}}</string>
                <key>sourceSize</key>
                <string>{294,189}</string>
            </dict>
            <key>1240015/run_d2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,447},{294,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,189}}</string>
                <key>sourceSize</key>
                <string>{294,189}</string>
            </dict>
            <key>1240015/run_d3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1029},{229,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,205}}</string>
                <key>sourceSize</key>
                <string>{229,205}</string>
            </dict>
            <key>1240015/run_d3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,264},{219,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,182}}</string>
                <key>sourceSize</key>
                <string>{219,182}</string>
            </dict>
            <key>1240015/run_d4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,132},{130,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,205}}</string>
                <key>sourceSize</key>
                <string>{130,205}</string>
            </dict>
            <key>1240015/run_d4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,2},{128,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,200}}</string>
                <key>sourceSize</key>
                <string>{128,200}</string>
            </dict>
            <key>1240015/run_d4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{137,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,193}}</string>
                <key>sourceSize</key>
                <string>{137,193}</string>
            </dict>
            <key>1240015/stand_d0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,235}}</string>
                <key>sourceSize</key>
                <string>{126,235}</string>
            </dict>
            <key>1240015/stand_d0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,132},{130,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,243}}</string>
                <key>sourceSize</key>
                <string>{130,243}</string>
            </dict>
            <key>1240015/stand_d0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{129,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,240}}</string>
                <key>sourceSize</key>
                <string>{129,240}</string>
            </dict>
            <key>1240015/stand_d1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1028},{221,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,204}}</string>
                <key>sourceSize</key>
                <string>{221,204}</string>
            </dict>
            <key>1240015/stand_d1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,1029},{221,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,206}}</string>
                <key>sourceSize</key>
                <string>{221,206}</string>
            </dict>
            <key>1240015/stand_d1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,1039},{220,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,207}}</string>
                <key>sourceSize</key>
                <string>{220,207}</string>
            </dict>
            <key>1240015/stand_d1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,1039},{221,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,209}}</string>
                <key>sourceSize</key>
                <string>{221,209}</string>
            </dict>
            <key>1240015/stand_d1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1030},{219,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,206}}</string>
                <key>sourceSize</key>
                <string>{219,206}</string>
            </dict>
            <key>1240015/stand_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,829},{291,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,194}}</string>
                <key>sourceSize</key>
                <string>{291,194}</string>
            </dict>
            <key>1240015/stand_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,832},{292,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,195}}</string>
                <key>sourceSize</key>
                <string>{292,195}</string>
            </dict>
            <key>1240015/stand_d2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,638},{287,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,191}}</string>
                <key>sourceSize</key>
                <string>{287,191}</string>
            </dict>
            <key>1240015/stand_d2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,448},{286,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,189}}</string>
                <key>sourceSize</key>
                <string>{286,189}</string>
            </dict>
            <key>1240015/stand_d2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,448},{290,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,189}}</string>
                <key>sourceSize</key>
                <string>{290,189}</string>
            </dict>
            <key>1240015/stand_d3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{220,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,187}}</string>
                <key>sourceSize</key>
                <string>{220,187}</string>
            </dict>
            <key>1240015/stand_d3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,264},{219,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,182}}</string>
                <key>sourceSize</key>
                <string>{219,182}</string>
            </dict>
            <key>1240015/stand_d4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,130},{129,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,192}}</string>
                <key>sourceSize</key>
                <string>{129,192}</string>
            </dict>
            <key>1240015/stand_d4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,131},{129,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,196}}</string>
                <key>sourceSize</key>
                <string>{129,196}</string>
            </dict>
            <key>1240015/stand_d4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,131},{129,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,195}}</string>
                <key>sourceSize</key>
                <string>{129,195}</string>
            </dict>
            <key>1240015/walk_d0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,132},{130,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,218}}</string>
                <key>sourceSize</key>
                <string>{130,218}</string>
            </dict>
            <key>1240015/walk_d0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{126,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,233}}</string>
                <key>sourceSize</key>
                <string>{126,233}</string>
            </dict>
            <key>1240015/walk_d0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{127,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,221}}</string>
                <key>sourceSize</key>
                <string>{127,221}</string>
            </dict>
            <key>1240015/walk_d1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{217,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,197}}</string>
                <key>sourceSize</key>
                <string>{217,197}</string>
            </dict>
            <key>1240015/walk_d1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,443},{222,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,188}}</string>
                <key>sourceSize</key>
                <string>{222,188}</string>
            </dict>
            <key>1240015/walk_d1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,833},{226,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,195}}</string>
                <key>sourceSize</key>
                <string>{226,195}</string>
            </dict>
            <key>1240015/walk_d1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1025},{222,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,203}}</string>
                <key>sourceSize</key>
                <string>{222,203}</string>
            </dict>
            <key>1240015/walk_d1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>1240015/walk_d1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1027},{220,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,203}}</string>
                <key>sourceSize</key>
                <string>{220,203}</string>
            </dict>
            <key>1240015/walk_d2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,638},{291,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,191}}</string>
                <key>sourceSize</key>
                <string>{291,191}</string>
            </dict>
            <key>1240015/walk_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,831},{293,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,194}}</string>
                <key>sourceSize</key>
                <string>{293,194}</string>
            </dict>
            <key>1240015/walk_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,842},{292,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,195}}</string>
                <key>sourceSize</key>
                <string>{292,195}</string>
            </dict>
            <key>1240015/walk_d2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,639},{288,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,191}}</string>
                <key>sourceSize</key>
                <string>{288,191}</string>
            </dict>
            <key>1240015/walk_d3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,627},{213,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,195}}</string>
                <key>sourceSize</key>
                <string>{213,195}</string>
            </dict>
            <key>1240015/walk_d3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,448},{213,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,193}}</string>
                <key>sourceSize</key>
                <string>{213,193}</string>
            </dict>
            <key>1240015/walk_d3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,438},{211,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,187}}</string>
                <key>sourceSize</key>
                <string>{211,187}</string>
            </dict>
            <key>1240015/walk_d3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,264},{219,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,181}}</string>
                <key>sourceSize</key>
                <string>{219,181}</string>
            </dict>
            <key>1240015/walk_d3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,264},{228,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,182}}</string>
                <key>sourceSize</key>
                <string>{228,182}</string>
            </dict>
            <key>1240015/walk_d4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,261},{137,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,202}}</string>
                <key>sourceSize</key>
                <string>{137,202}</string>
            </dict>
            <key>1240015/walk_d4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,132},{130,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,201}}</string>
                <key>sourceSize</key>
                <string>{130,201}</string>
            </dict>
            <key>1240015/walk_d4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{127,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,202}}</string>
                <key>sourceSize</key>
                <string>{127,202}</string>
            </dict>
            <key>1240015/walk_d4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,131},{129,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,206}}</string>
                <key>sourceSize</key>
                <string>{129,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>12400151.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:519f72b850f99ea25d1e544dab7235f0:62966b0ee6c0de27756d56acc4c7f4f8:dd8b3bb0843b13eab1aabcddc97aa5c1$</string>
            <key>textureFileName</key>
            <string>12400151.pvr.ccz</string>
        </dict>
    </dict>
</plist>
