<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1240014/run_d1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{216,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,208}}</string>
                <key>sourceSize</key>
                <string>{216,208}</string>
            </dict>
            <key>1240014/run_d1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,217},{210,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,194}}</string>
                <key>sourceSize</key>
                <string>{210,194}</string>
            </dict>
            <key>1240014/run_d1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,585},{198,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,190}}</string>
                <key>sourceSize</key>
                <string>{198,190}</string>
            </dict>
            <key>1240014/run_d3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,212},{211,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,208}}</string>
                <key>sourceSize</key>
                <string>{211,208}</string>
            </dict>
            <key>1240014/run_d3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{215,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,210}}</string>
                <key>sourceSize</key>
                <string>{215,210}</string>
            </dict>
            <key>1240014/run_d3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{213,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,214}}</string>
                <key>sourceSize</key>
                <string>{213,214}</string>
            </dict>
            <key>1240014/run_d4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,447},{165,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,226}}</string>
                <key>sourceSize</key>
                <string>{165,226}</string>
            </dict>
            <key>1240014/run_d4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,413},{167,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,227}}</string>
                <key>sourceSize</key>
                <string>{167,227}</string>
            </dict>
            <key>1240014/stand_d0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,757},{161,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,231}}</string>
                <key>sourceSize</key>
                <string>{161,231}</string>
            </dict>
            <key>1240014/stand_d0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,642},{162,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,231}}</string>
                <key>sourceSize</key>
                <string>{162,231}</string>
            </dict>
            <key>1240014/stand_d0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,212},{153,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,233}}</string>
                <key>sourceSize</key>
                <string>{153,233}</string>
            </dict>
            <key>1240014/stand_d0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,875},{159,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,233}}</string>
                <key>sourceSize</key>
                <string>{159,233}</string>
            </dict>
            <key>1240014/stand_d4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,903},{163,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,228}}</string>
                <key>sourceSize</key>
                <string>{163,228}</string>
            </dict>
            <key>1240014/stand_d4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,590},{165,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,226}}</string>
                <key>sourceSize</key>
                <string>{165,226}</string>
            </dict>
            <key>1240014/stand_d4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{167,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,227}}</string>
                <key>sourceSize</key>
                <string>{167,227}</string>
            </dict>
            <key>1240014/stand_d4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,417},{166,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,227}}</string>
                <key>sourceSize</key>
                <string>{166,227}</string>
            </dict>
            <key>1240014/walk_d0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{161,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,226}}</string>
                <key>sourceSize</key>
                <string>{161,226}</string>
            </dict>
            <key>1240014/walk_d0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{162,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,231}}</string>
                <key>sourceSize</key>
                <string>{162,231}</string>
            </dict>
            <key>1240014/walk_d0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,942},{159,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,228}}</string>
                <key>sourceSize</key>
                <string>{159,228}</string>
            </dict>
            <key>1240014/walk_d1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{206,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,205}}</string>
                <key>sourceSize</key>
                <string>{206,205}</string>
            </dict>
            <key>1240014/walk_d1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,214},{201,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,213}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>1240014/walk_d3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,213}}</string>
                <key>sourceSize</key>
                <string>{216,213}</string>
            </dict>
            <key>1240014/walk_d4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,777},{163,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,228}}</string>
                <key>sourceSize</key>
                <string>{163,228}</string>
            </dict>
            <key>1240014/walk_d4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,675},{165,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,226}}</string>
                <key>sourceSize</key>
                <string>{165,226}</string>
            </dict>
            <key>1240014/walk_d4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,422},{166,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,227}}</string>
                <key>sourceSize</key>
                <string>{166,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>12400141.pvr.ccz</string>
            <key>size</key>
            <string>{1022,1114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7a1047caa786d3c4cf7199987048c2e:00ab7965175e4b8344206362d7ede36a:9559d4b6831577407737d905033912ff$</string>
            <key>textureFileName</key>
            <string>12400141.pvr.ccz</string>
        </dict>
    </dict>
</plist>
