<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>xiaoxiaole/xxl_play/beanpod.png.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,435},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/box_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,239},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/box_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,506},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/branch_beaf.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,234},{81,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,169}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/branch_beafs.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,165},{56,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,29}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/btn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,334},{200,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,92}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,183},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,165},{200,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,92}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/btn_orang.png.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{349,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,162}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/btn_pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,405},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/btn_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,259},{200,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,92}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/com_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,353},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/com_trans.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,1},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,285},{42,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,37}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/flowerSeed.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,234},{46,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,75}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/flowerStar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,59},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/flowerStar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,83},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/flowerStar3.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,107},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/green_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,250},{185,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,80}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/img_addstep.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,332},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/img_exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,425},{91,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,82}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/img_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,83},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/img_refresh.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,408},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/img_remove.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,455},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/item1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,428},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/item1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,405},{74,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,67}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/item2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,474},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/item2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,583},{69,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,70}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/item3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,479},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/item3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,564},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/item4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,489},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/item4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,418},{73,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,69}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/item5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,507},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/item5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,553},{73,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,74}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/item6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,509},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/item6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,346},{75,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,70}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,531},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/item_broad.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,346},{93,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,87}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/item_broad_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,311},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/lose_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,183},{158,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,149}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/music.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,332},{93,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,91}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/normalFlower0.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,430},{72,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,99}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/normalFlower1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,353},{87,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,119}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/normalFlower2.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,165},{89,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,119}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/normalFlower3.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,286},{87,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,120}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/replay.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,239},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/rope.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1},{14,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,56}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,474},{84,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,88}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/stage_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1},{479,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{479,80}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/star_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,83},{151,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,149}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/star_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,83},{165,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,165}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/step_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,1},{161,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,180}</string>
			</dict>
			<key>xiaoxiaole/xxl_play/step_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,639},{91,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,33}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>xxl_play.png</string>
			<key>realTextureFileName</key>
			<string>xxl_play.png</string>
			<key>size</key>
			<string>{1023,673}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>673</integer>
		</dict>
	</dict>
</plist>