<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hddt/emoji/emoji_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,96},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,192},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,240},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,288},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,336},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,384},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,432},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,0},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,48},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,96},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,144},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,192},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,240},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,288},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,336},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,384},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,432},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,0},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,48},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,96},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,144},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,192},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,240},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,288},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,336},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,384},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,432},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,0},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,48},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,96},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,144},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,192},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,240},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,288},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,336},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,384},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,432},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,0},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,48},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,96},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,144},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,192},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,240},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,288},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,336},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,384},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,432},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,48},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,96},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,144},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,192},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,240},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,288},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,336},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,384},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,432},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,0},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,48},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,96},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,144},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,192},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,240},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,288},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,336},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,384},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,432},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,0},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,48},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_67.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,96},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,144},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_69.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,192},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_70.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,240},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,288},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,336},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,384},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,432},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,0},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,48},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_77.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,96},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_78.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,144},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_79.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,192},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_80.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,240},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_81.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,288},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_82.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,336},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_83.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,384},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_84.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,432},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_85.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,0},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_86.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,48},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_87.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,96},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_88.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,144},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_89.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,192},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_90.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,240},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,288},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_92.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,336},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_93.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,384},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_94.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,432},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_95.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,0},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_96.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,48},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_97.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,96},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_98.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,144},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hddt/emoji/emoji_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,192},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>emoji.png</string>
			<key>realTextureFileName</key>
			<string>emoji.png</string>
			<key>size</key>
			<string>{528,480}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>528</integer>
			<key>height</key>
			<integer>480</integer>
		</dict>
	</dict>
</plist>