<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>uistu/menus/balance.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,441},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>uistu/menus/chongzhijilu.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uistu/menus/collection.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,138},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>uistu/menus/detail_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,323},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>uistu/menus/hot_home.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,1},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>uistu/menus/info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,248},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>uistu/menus/info_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,358},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>uistu/menus/jiangjinxiangqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,405},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>uistu/menus/line_service.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,138},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>uistu/menus/more_lotto.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,221},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>uistu/menus/online_consult.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>uistu/menus/personal_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,323},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>uistu/menus/person_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,1},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>uistu/menus/person_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,248},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>uistu/menus/profit.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,358},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>uistu/menus/proxy.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,221},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>uistu/menus/proxy_center.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,111},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>uistu/menus/recharge_recode.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,1},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>uistu/menus/rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,221},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>uistu/menus/safety_center.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,405},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>uistu/menus/safe_center.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,331},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>uistu/menus/tixianjilu.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,385},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uistu/menus/today.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,105},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>uistu/menus/touzhujilu.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,385},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uistu/menus/wanfaguize.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>uistu/menus/withdraw_recode.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,111},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>uistu/menus/wodeshoucang.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,303},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>uistu/menus/xinxigonggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,187},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>uistu/menus/zaixiankefu.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,83},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>uistu/menus/zhanghumingxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,269},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>menus.png</string>
			<key>realTextureFileName</key>
			<string>menus.png</string>
			<key>size</key>
			<string>{650,487}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>650</integer>
			<key>height</key>
			<integer>487</integer>
		</dict>
	</dict>
</plist>